@import "tailwindcss";

/* Dark mode background setup */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #13131D;
  }
}

html{
  scroll-behavior: smooth;
}
body {
  background: var(--background, #13131D);
  font-family: var(--font-poppins), var(--font-jost), sans-serif;
}
